@use "../../styles/utils/placeholders";
@import "../../styles/utils/mixins";

.header {
  position: sticky;
  top: 0;
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--white);
  z-index: 1;

  &.mobile {
    justify-content: space-between;
  }

  @include onSmallDesktop() {
    padding: 24px 40px;
    gap: 24px;
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: var(--secondary-light-blue);

  @supports (background: linear-gradient(to bottom left, #b7cbdf, #8385cd)) {
    background: linear-gradient(to bottom left, #b7cbdf, #8385cd);
  }

  &.open {
    transform: translateX(0);
  }
}

.burger-menu__content {
  padding: 16px;
  display: grid;
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
  gap: 24px;
  @extend %secondary-text-medium;
  max-height: 100vh;
  overflow: auto;
}

.burger-close-btn {
  position: absolute;
  top: 16px;
  right: calc(var(--scrollbar-width) + 16px);
}

.header__logo-link {
  @extend %logo-text;
  color: var(--black);
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -2px;
  max-width: 80px;
  height: 56px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;

  &:hover {
    color: var(--blue-hovered);
  }

  @include onSmallDesktop() {
    max-width: 100px;
  }
}

.dropdown {
  position: relative;
  min-width: max-content;
  max-width: 500px;
  display: flex;
  @extend %secondary-text-book;
  cursor: pointer;

  &__main-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    max-width: 500px;
    gap: 4px;
    flex-grow: 0;
    padding: 12px;
    height: 48px;
    background-color: var(--white);
    border-radius: 24px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  &__menu {
    display: none;
    min-width: 150px;
    border-radius: 24px;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(4px);
    border: 2px solid var(--gray-2);
    z-index: 1;

    &__items {
      padding: 12px 16px;
    }
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &.open {
    .dropdown__main-option {
      border-color: var(--blue-pressed);
    }

    .dropdown__menu {
      display: block;
    }

    .dropdown__icon {
      transform: rotate(180deg);
    }
  }
}

.menu__categories-title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.menu__categories {
  display: flex;
  flex-direction: column;
  @extend %secondary-text-medium;
  gap: 8px;

  & &__item {
    border-radius: 24px;
    width: 100%;
    padding: 8px 16px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
    justify-content: space-between;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.header__search-input {
  width: 100%;
  height: 56px;
  padding-left: 56px;
  border-radius: 28px;
  color: var(--black);
  @extend %secondary-text-medium;
  border: 2px solid transparent;
  background-color: var(--secondary-gray);
  background-image: url("../../images/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: var(--gray-6);
    font-weight: 400;
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    background-color: var(--white);
    border-color: var(--blue-pressed);
  }
}

.header__nav {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
