@use "../../styles/utils/placeholders";
@import "../../styles/utils/mixins";

.lot {
  display: grid;
  align-self: center;
  justify-self: center;
  gap: 16px;
  max-width: 343px;

  @include onTablet {
    max-width: 322px;
  }
}

.lot__galery {
  position: relative;
}

.lot__galery-img {
  border-radius: 44px 44px 0 0;
}

.lot {
  .lot__galery-fav-icon {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

.lot-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--blue-hovered);
  }
}

.lot__description {
  display: grid;
  gap: 8px;
  padding: 0 16px;
}

.lot-id {
  @extend %tertiary-text-book;
  color: var(--gray-4);
}

.lot-price {
  margin-top: 8px;
  @extend %secondary-text-medium;
  color: var(--gray-5);
}

.lot-category {
  @extend %secondary-text-medium;
  color: var(--gray-5);
}

.lot-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: var(--gray-4);
  @extend %tertiary-text-book;
}
