.hero {
  display: flex;
  justify-content: center;
  padding: 0 8px;
}

.hero__container {
  padding: 142px 213px;
  background: linear-gradient(to bottom left, #b7cbdf, #8385cd);
  border-radius: 16px;
}

.hero__title {
  font-weight: 600;
  font-size: 64px;
  text-align: center;
  line-height: 120%;
  max-width: 1014px;
}
