@use "../../styles/utils/placeholders";

.lot {
  display: grid;
  align-self: center;
  justify-self: center;
  gap: 16px;
  max-width: 322px;
}

.lot__galery {
  position: relative;
}

.lot__galery-img {
  border-radius: 44px 44px 0 0;
}

.lot {
  .lot__galery-fav-icon {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

.lot__description {
  display: grid;
  gap: 8px;
  padding: 0 16px;
}

.lot-id {
  @extend %tertiary-text-book;
  color: var(--gray-4);
}

.lot-price {
  @extend %secondary-text-medium;
  color: var(--gray-5);
  margin-top: 8px;
}

.lot-info {
  display: flex;
  justify-content: space-between;
  color: var(--gray-4);
  @extend %tertiary-text-book;
  margin-top: 8px;
}
