%small-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

%uppercase {
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
