$colorPrimary: #313237;
$colorSecondary: #89939A;
$colorIcons: #B4BDC3;
$colorElements: #E2E6E9;
$colorHover: #FAFBFC;
$colorWhite: #FFFFFF;
$colorGreen: #27AE60;
$colorFabric: #FAFBFC;
$colorRed: #EB5757;
