:root {
  --black: #000000;
  --white: #ffffff;

  --gray-2: #e9ecef;
  --gray-3: #ced4da;
  --gray-4: #868e96;
  --gray-5: #343a40;
  --gray-6: #212529;

  --secondary-gray: #f3f4fc;
  --secondary-light-blue: #a9b6de;

  --blue-default: #4e51ff;
  --blue-hovered: #0307fc;
  --blue-pressed: #0003b2;
}
