@import "../../styles/utils/mixins";

.category-pack {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @include onTablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    justify-self: center;
    padding: 0 40px;
  }
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 322px;
  height: 161px;
}
