.category {
  width: 322px;
  height: 161px;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
