@use "../../styles/utils/placeholders";
@import "../../styles/utils/mixins";

.lot-page__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  @include onDesktop {
    padding: 0 40px;
  }
}

.lot-page__header-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;

  @include onTablet {
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
  }
}

.lot-page__info-container {
  position: relative;
  display: flex;
  flex-direction: column;

  @include onDesktop {
    position: static;
    flex-direction: row;
    justify-content: space-between;
  }
}

.lot-page__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 16px 24px;

  @include onDesktop {
    gap: 24px;
    margin-right: 40px;
  }
}

.lot-page__info {
  position: absolute;
  top: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  padding: 24px 16px;
  @extend %secondary-text-book;

  @include onTablet {
    top: 560px;
  }

  @include onDesktop {
    position: static;
    flex-direction: row;
    justify-content: space-around;
    gap: 75px;
    padding: 24px 40px;
    font-size: 24px;
  }
}

.lot-page__info-text {
  display: flex;
  align-items: center;
  gap: 7px;
}

.lot-page__galery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.lot-page__galery img {
  max-width: 320px;

  @include onTablet {
    max-width: 584px;
  }
}

.lot-page__galery-small {
  display: none;

  @include onDesktop {
    display: flex;
    flex-direction: column;
  }
}

.lot-page__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 16px 0;

  @include onTablet {
    flex-direction: row-reverse;
    gap: 24px;
  }

  @include onDesktop {
    margin: 48px 40px 0;
  }
}

.about-author__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 24px;
  background-color: var(--secondary-gray);
  border-radius: 24px;
  width: 343px;
  height: 198px;
  font-size: 16px;

  @include onDesktop {
    padding: 40px;
    width: 553px;
    height: 255px;
    font-size: 24px;
  }
}

.author-personality {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.author-name {
  @include onDesktop {
    font-size: 24px;
  }
}

.autor-login {
  margin-top: 8px;
  @extend %tertiary-text-book;
  color: var(--garay-5);
}

.author-info {
  margin-top: 8px;
  @extend %tertiary-text-book;
  color: var(--garay-5);

  @include onDesktop {
    // display: flex;
    margin: 16px 100px 0 0;
    font-size: 16px;
  }
}

.lot-page__about-lot {
  margin-top: 24px;
  line-height: 150%;

  @include onTablet {
    margin: 0;
  }

  @include onDesktop {
    font-size: 24px;
  }
}

.lot-page__bids {
  margin: 100px 40px 0;
}

.bids__table-overflow {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}

.bids__table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  @extend %secondary-text-book;

  @include onDesktop() {
    font-size: 24px;
    line-height: 150%;
  }

  th {
    font-weight: 500;
  }

  td:last-child {
    padding: 12px 0;
  }

  .main-button {
    margin: 0 auto;
  }

  th,
  td {
    height: 80px;
    padding: 20px 24px;

    &:nth-child(1) {
      min-width: 90px;
    }

    &:nth-child(2) {
      min-width: 200px;
    }

    &:nth-child(3) {
      min-width: 150px;
    }

    &:nth-child(4) {
      min-width: 250px;
    }

    &:nth-child(5) {
      min-width: max-content;
    }
  }
}

.outbid-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }
}

.outbid-background {
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: var(--secondary-light-blue-transparent);
}

.outbid {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 400px;
  @extend %secondary-text-book;
  background-color: var(--white);
  overflow: auto;
  transform: translate(-50%, -50%);

  @include onSmallDesktop() {
    border-radius: 24px;
    max-height: 440px;
  }

  .main-button {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.outbid__close-btn {
  position: absolute;
  top: 16px;
  right: calc(var(--scrollbar-width) + 16px);
}
