@import "../../styles/utils/mixins";

.pack__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 40px 48px;
  padding: 24px 0;
  border-bottom: 1px solid var(--gray-3);

  @include onDesktop {
    margin-top: 136px;
    padding: 32px 0;
  }
}

.pack__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;

  @include onDesktop {
    font-size: 80px;
  }
}

.pack__btn {
  width: 36px;

  @include onDesktop {
    width: 72px;
  }
}

.lots-pack {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px 16px 40px;

  @include onTablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 40px 40px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
