body {
  font-family: "PP Neue Montreal", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}

h1 {
  font-family: "Kyiv Type Sans", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;

  @include onTablet() {
    font-size: 72px;
  }

  @include onDesktop() {
    font-size: 96px;
    letter-spacing: -5px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
}

.no-overflow {
  overflow: hidden;
}
